body{
    background-image: url(img/bg-black.jpg);
    background-position: center;
    background-repeat:repeat-y;
    background-color: #212121;
}
.inicio {
    margin-top: 1rem;
    
}
.principal{
    background-color: #f1f1f1;
    border-radius: 15px;
        
}

.carousel-item img {
    width: 50rem;
    object-fit: cover;
    height: 25rem;
}

.btn-dark {
    display: flex;
    justify-content: center;
}
.anuncio{
    justify-content: space-around;
}
h1{
    color: #212121;
}
figure{
    width: 40%;
    justify-content: space-around;
    display: flex;
}
.titulo{
    font-size: medium;
}
.descricao{
    font-size: small;
}